[Unit]
Description = A replacement for /etc/rc.local
[Service]
Type = one-shot
ExecStart = /bin/bash /etc/rc.local

[Install]
WantedBy=multi-user.target
